.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.hero {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-title h1 {
  font-size: 100px;
}

.hero .hero-title span {
  color: #4E2DA1;
}

.hero .hero-text {
  font-size: 20px;
  text-align: center;
}