.registerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.registerForm {
    width: 588px;
    height: 965px;
    padding: 15px 0;
    color: #F0F8FF;
    border-radius: 14px;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form {
    width: 346px;
    height: 721px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.registerLogo {
    width: 170px;
    height: 170px;
}

.registerLogo img {
    width: 100%;
    height: 100%;
}

.registerText {
    width: 588px;
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerText .registerTitleOne, .registerText .registerTitleTwo {
    font-size: 60px;
}

.registerText .registerTitleTwo span {
    color: #4E2DA1;
}

.switchAuth {
    display: flex;
    gap: 26px;
}

.signin, .signup {
    font-size: 13px;
    color: #F0F8FF;
    position: relative;
}

.signup::before {
    content: '';
    width: 100%;
    height: 5px;
    bottom: -10px;
    position: absolute;
    background-color: #ccc;
    border-radius: 7px;
}

.labelInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.labelInput label {
    font-weight: 700;
    font-size: 13px;
}

.labelInput input, .labelInput select {
    width: 345px;
    height: 40px;
    border-radius: 7px;
    border: none;
    padding: 0 10px;
    outline: none;
}

.formBtnAuth {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.policy {
    font-size: 10px;
}

.formBtnAuth button {
    width: 113px;
    height: 36px;
    padding: 10px;
    border-radius: 14px;
    background-color: #F0F8FF;
    color: #0c0c0c;
    font-size: 13px;
    font-weight: 400;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}